#profile-card {
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    margin-top: 50px;
}

#profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#profile-name {
    font-size: 24px;
    margin-top: 10px;
}

#profile-desc {
    font-size: 16px;
    margin-top: 10px;
}

#toggle-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-btn:hover {
    background-color: #0056b3;
}

.altered-font {
    font-family: "Montserrat", "Sans Serif";
    color: orange;
}

.green-bg {
    background-color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Libre+Baskerville&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Work+Sans:wght@600&display=swap');