.image-content {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.picture {
    max-width: 80%;
    padding-bottom: 10px;
}

.picture-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
}